@model IEnumerable<AspNetVet.Models.Pets>

@{
    ViewData["Title"] = "Mascotas";
}

<style>

        .main-nav li {
            padding: 15px 20px;
            cursor: pointer;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm text-center">
            <h1 class="lblSearch">
                Mascota
            </h1>
        </div>
    </div>
</div>
<br/>
<br/>

<div class="row">
    <div class="col-sm-2">
        <a class="btn btn-danger w-100" id="backPetBtn" asp-action="AddAppointment">Regresar</a>
    </div>
    <div class="col-sm-1">
        <label style="margin-right: 10px;" class="lblSearch">Buscar:</label>
    </div>
    <div class="col-sm-7">
        <input type="text" class="form-control w-100" id="searchPetInput" placeholder="Código / Nombre / Dueño" />
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-info w-100" id="searchPetBtn">Buscar</button>
    </div>
</div>
<br/>

<table id="TableModel" class="table table-bordered table-hover">
    <thead>
        <tr class="table-header">
            <th>ID</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Raza</th>
            <th>Dueño</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var pet in Model)
            {
                <tr>
                    <td>@pet.Id</td>
                    <td>@pet.Code</td>
                    <td>@pet.Name</td>
                    <td>@pet.Birth_Date</td>
                    <td>@pet.Species</td>
                    <td>@pet.Breeds</td>
                    <td>@pet.AppUsers?.FullName ?? "Sin asignar"</td>
                    <td>@(pet.Status.Equals(1) ? true : false)</td>
                    <td>
                        <a asp-action="AddAppointment" class="btn w-100 h-100 align-content-center bg-transparent" data-id="@pet.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cursor" viewBox="0 0 16 16">
                                <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52z"/>
                            </svg>
                            Seleccionar
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>1</td>
                <td>000001</td>
                <td>sample text</td>
                <td>sample text</td>
                <td>sample text</td>
                <td>sample text</td>
                <td>
                    <a asp-action="AddAppointment" class="btn w-100 h-100 align-content-center bg-transparent">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cursor" viewBox="0 0 16 16">
                            <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52z"/>
                        </svg>
                        Seleccionar
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="7" class="text-center">No se encontraron mas mascotas.</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}